<% include blocks/header.ejs %>
<form role="form" method="POST" action="">
	<h2>Please Login</h2>
	<hr class="colorgraph">
	<% include blocks/alert.ejs %>
	
	<% if (error != '') {%>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>

	<div class="form-group">
		<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="1">
	</div>
	<div class="form-group">
		<div class="form-group">
			<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2">
		</div>
	</div>
	<hr class="colorgraph">
	<div class="form-group">
		<input type="submit" value="Login" class="btn btn-success btn-block btn-lg" tabindex="3">
	</div>
</form>
<% include blocks/footer.ejs %>